<% 
// social networks handled by contacts
const networksWithColors = [
  ['facebook', '#2d1703'],
  ['youtube', '#2d1703'],
  ['instagram', '#2d1703'],
  ['twitter', '#2d1703'],
  ['tiktok', '#2d1703'],
  ['pinterest', '#2d1703'],
  ['linkedin', '#2d1703']
]

networksWithColors.forEach(([network, color]) => { %>
  <% if (contacts[network]) { %>
    <a
      href="<%= contacts[network] %>"
      target="_blank"
      rel="noopener"
      aria-label="<%= network %>"
      style="color: <%= color %>"
    >
      <i class="fab fa-<%= network %>"></i>
    </a>
  <% } %>
<% }) %>
